<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">

  <Identity Name="a85f67b1-2f71-4905-9156-64a2442809b5"
            Publisher="CN=witt_"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>Calculator.Windows</DisplayName>
    <PublisherDisplayName>witt_</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Calculator.Windows.App">
      <m2:VisualElements
          DisplayName="Calculator.Windows"
          Square150x150Logo="Assets\Logo.png"
          Square30x30Logo="Assets\SmallLogo.png"
          Description="Calculator.Windows"
          ForegroundText="light"
          BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>